person-item {
	.person-item {
		width: 100%;
		height: 90px;
		margin-top: 10px;
		position: relative;
	}

	.person-photo {
		height: 90px;
		width: 60px;
		position: absolute;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-color: darkgray;

		border-radius: 3px;
		box-shadow: 0px 0px 4px 0 rgba(0,0,0,0.40);
	}

	.person-name {
		position: relative;
		width: 57%;
		margin-left: 70px;
		padding-top: 7px;
		font-size: 17px;
		/* truncate long titles */
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		/* autoprefixer: off */
		-webkit-box-orient: vertical;
		/* autoprefixer: on */
	}

	.person-tagline {
		position: relative;
		margin-left: 70px;
		font-size: 16px;
		color: gray;
	}
}
