<ion-header>
	<ion-navbar color="secondary">
		<ion-title>{{ 'watchlist_title' | translate }}</ion-title>
		<ion-buttons end>
			<button ion-button (click)="openSettings()">
        <ion-icon name="settings"></ion-icon>
      </button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<div padding *ngIf="emptyMessage[1]">
		<p>{{ 'watchlist_empty1' | translate }} <br> {{ 'watchlist_empty2' | translate }}</p>
	</div>

	<ng-container *ngFor="let film of alphabetical(list, 'title')">
		<film-card [film]="film" *ngIf="film.release_country_days < 1" (tap)="showFilmDetails($event, film)" (press)="showPressMenu($event, film)"></film-card>
	</ng-container>
</ion-content>
